body{
  background-color: rgb(144, 145, 145);
  color: rgb(39, 38, 38);
  padding: 0;
  margin: 0;
}
.parent{
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 250px;
  height: 300px;
  border: none ;
  background-color: rgb(234, 234, 234);
  padding: 20px;  
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  box-shadow: 1px 2px 12px rgb(169, 169, 169);
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 .top img{
  height: 40px;
  width: 40px;
  border-radius: 80px;
  object-fit: cover;
  border: solid 2px #dadada ;
  padding: 4px;
}

.card button{
  display: flex;
  padding: 4px 8px;
  border-radius: 6px;
  align-items: center;
  border: solid 2px #dadada;
  cursor: pointer;
  font-size: 12px;
  gap: 3px;
  background-color: transparent;
  color: #4f4f4f;
}